/* ==UserStyle==
@name           Stylus - Rounded
@author         Tsyron
@namespace      https://github.com/Tsyron/Stylus-Theme
@version        1.1.0
@license        GPLv3
@preprocessor   stylus

@var            range range-corners-button "Buttons" [4, 0, 18, "px"]

@var            range range-corners-input-select "Input / Select" [4, 0, 10, "px"]

@var            range range-corners-dialog "Dialog" [6, 0, 26, "px"]

==/UserStyle== */
@-moz-document url-prefix("moz-extension://"),
url-prefix("chrome-extension://"),
url-prefix("opera-extension://"),
url-prefix("edge-extension://") {
    
    br1=range-corners-button
    
    br2=range-corners-input-select
    
    br3=range-corners-dialog

    /* Button */
    button,
    .split-btn-menu,
    .blocked #popup-manage-button,
    #injection-order-button,
    #manage-options-button {
        border-radius: br1 !important; }

    #popup-manage-button,
    #find-styles-btn,
    #save-button,
    #file-all-styles {
        border-radius: br1 0 0 br1 !important; }
        
    .split-btn-pedal {
        border-radius: 0 br1 br1 0 !important; }
            
    /* Input / Select / CHeckbox */
    input,
    select {
        border-radius: br2 !important; }
        
    #search {
        border-radius: br2 0 0 br2 !important; }
        
    #searchMode,
    select#manage\.searchMode {
        border-radius: 0 br2 br2 0 !important; }
        
    /* Dialog */
    #stylus-options,
    #help-popup,
    #message-box > div {
        border-radius: br3 !important; }
    
    #message-box-buttons,
    #stylus-options footer {
        border-radius: 0 0 br3 br3 !important; }
        
    div#message-box-title, 
    #stylus-options header  {
        border-radius: br3 br3 0 0 !important; }

    /* Little Menu */
    #options-btn.if-blocked {
        max-width: 2.2em; }
    
    /* Fixing margins */
    #usw-publish-style {
        margin: 0 .25rem 0 0; }

    /* Pop-up Width */
    /*#stylus-popup {
        width: 270px !important; }*/ }
